#msg-box4-2m .mbr-header__text {
  color: #000000;
  font-size: 30px;
  text-align: right;
}
#msg-box4-2m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2m .mbr-article {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-0 .mbr-navbar__section {
  background: #475577;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 30px;
}
#menu-0 .mbr-navbar__items a {
  font-size: 16px;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-header__text {
  color: #222222;
  font-size: 30px;
  text-align: right;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-3n .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-3n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3n .mbr-article {
  color: #ffffff;
}
#msg-box4-2p .mbr-header__text {
  color: #222222;
  font-size: 30px;
  text-align: right;
}
#msg-box4-2p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2p .mbr-article {
  color: #ffffff;
}
#msg-box4-4b .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-4b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4b .mbr-article {
  color: #ffffff;
}
#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-1 .mbr-navbar__section {
  background: #475577;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-brand__name a {
  font-size: 30px;
}
#menu-1 .mbr-navbar__items a {
  font-size: 16px;
}
#content1-3 P {
  color: #000000;
}
#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-9 .mbr-navbar__section {
  background: #475577;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .mbr-brand__name a {
  font-size: 30px;
}
#menu-9 .mbr-navbar__items a {
  font-size: 16px;
}
#content1-q P {
  color: #000000;
}
#menu-w .mbr-brand__name {
  font-size: 16px;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-w .mbr-navbar__section {
  background: #475577;
}
#menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-w .mbr-brand__name a {
  font-size: 30px;
}
#menu-w .mbr-navbar__items a {
  font-size: 16px;
}
#content1-z P {
  color: #000000;
}
#image2-18 SMALL {
  text-align: left;
}
#content1-19 P {
  color: #000000;
}
#content1-1c P {
  color: #000000;
}
#content1-1i P {
  color: #000000;
}
#content1-1j P {
  color: #000000;
}
#content1-1k P {
  color: #000000;
}
#content1-1p P {
  color: #000000;
}
#content1-1u P {
  color: #000000;
}
#content1-1t P {
  color: #000000;
}
#content1-1v P {
  color: #000000;
}
#menu-1x .mbr-brand__name {
  font-size: 16px;
}
#menu-1x.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-1x .mbr-navbar__section {
  background: #475577;
}
#menu-1x .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1x .mbr-brand__name a {
  font-size: 30px;
}
#menu-1x .mbr-navbar__items a {
  font-size: 16px;
}
#content1-1z P {
  color: #000000;
}
#content1-2f P {
  color: #000000;
}
#content1-32 P {
  color: #000000;
}
#content1-2i P {
  color: #000000;
}
#content1-2n P {
  color: #000000;
}
#menu-2q .mbr-brand__name {
  font-size: 16px;
}
#menu-2q.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-2q .mbr-navbar__section {
  background: #475577;
}
#menu-2q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2q .mbr-brand__name a {
  font-size: 30px;
}
#menu-2q .mbr-navbar__items a {
  font-size: 16px;
}
#content1-2t P {
  color: #000000;
}
#content1-2v P {
  color: #000000;
}
#menu-3a .mbr-brand__name {
  font-size: 16px;
}
#menu-3a.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-3a .mbr-navbar__section {
  background: #475577;
}
#menu-3a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3a .mbr-brand__name a {
  font-size: 30px;
}
#menu-3a .mbr-navbar__items a {
  font-size: 16px;
}
#content1-3c P {
  color: #000000;
}
#content1-4k P {
  color: #000000;
}
#slider2-3q H1 {
  color: #000000;
}
#slider2-3q P {
  color: #000000;
  text-align: left;
}
#content1-3e P {
  color: #000000;
}
#slider2-3r P {
  color: #000000;
  text-align: left;
}
#content1-3g P {
  color: #000000;
}
#slider2-3u P {
  color: #000000;
  text-align: left;
}
#content1-3v P {
  color: #000000;
}
#slider2-3w P {
  color: #000000;
  text-align: left;
}
#content1-3z P {
  color: #000000;
}
#content1-3z DIV {
  color: #000000;
}
#slider2-40 P {
  color: #000000;
  text-align: left;
}
#content1-41 P {
  color: #000000;
}
#content1-4g P {
  color: #000000;
}
#menu-46 .mbr-brand__name {
  font-size: 16px;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #475577;
}
#menu-46 .mbr-navbar__section {
  background: #475577;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .mbr-brand__name a {
  font-size: 30px;
}
#menu-46 .mbr-navbar__items a {
  font-size: 16px;
}
#content1-49 P {
  color: #000000;
}
#content1-49 DIV {
  color: #000000;
}
